.footer
  %a{:href => '/about'}
    = image_tag('homepage/Site_UnderConstruction.jpg') 
  %p 
    SciSPIF is under construction.  Pages abound with TODO notes and broken links.  ANY data collected at this time is used for testing purposes only.
    %br
  .row-fluid
    .span9
      %p This project is supported by generous grants from:
      %p.generous-grantees
        The National Science Foundation
        %br
        Rochester Institute of Technology
    .span3
      .footer-right.pull-right
        %p
          = link_to("Powered by All Our Ideas", '/', :class => 'powered-by')
        %p
          = link_to(t('nav.about'), about_path)
          %br
          = link_to(t('nav.privacy_policy'), privacy_path)
