.row-fluid
  .span8
    %h1 About this project
    %p
      The increasing complexity of scientific software can
result in significant impacts [Miller, 2006] on the research itself. In mainstream
software development projects, teams adopt historical
best practices into their development processes to mitigate the
risk of such problems. In contrast, the gap [Kelly 2007] that has formed
between the mainstream and scientific software communities
leaves scientists to rely on only their own experience when
facing software process improvement (SPI) decisions. In order to
construct a Scientific Software Process Improvement Framework
(SciSPIF) that will support scientists’ need to select and tailor
existing SE practices to suit their own goals [Mesh and Hawker, 2013; Mesh, Burns and Hawker, 2014], we are using a grounded theory-based methodology [Corbin and Strauss, 1990; Charmaz, 2014] combined with this wiki survey [Salganik and Levy, 2012; www.allourideas.org] to discover the motivating factors of scientific SPI decisions and how these factors correlate with the successful adoption of known software engineering best practices.

    %h3 Research produced by our group
    %h5 Papers
    %p
      Erika S. Mesh, Gabbie Burns and J. Scott Hawker. 2014. Integrating Scientific and Software Engineering Expertise to Support Scientific Software Process Improvement Decisions. Computing in Science and Engineering, Software Engineering Special Edition.
    %p
      Erika S. Mesh and J. Scott Hawker. 2013. Scientific Software Process Improvement Decisions: A Proposed Research Strategy. In Proceedings of the 5th International Workshop on Software Engineering for Computational Science and Engineering (SE-CSE ’13). pp.32-39
  .span4
    %h3= t('about.current_contributors')
    %p
      %strong= link_to('Erika S. Mesh', 'https://esmesh.wordpress.com/cv/')
      %br
      PhD. Student, Computing and Information Sciences, Rochester Institute of Technology
    %p
      %strong= link_to('Dr. J. Scott Hawker', 'http://www.se.rit.edu/~hawker/')
      %br
      Associate Professor, Software Engineering, Rochester Institute of Technology
    %h3= t('about.past_contributors')
